*{margin:0;}

/*---ESTILOS DE APLICACION GENERAL O PRUEBAS---*/

/*	COLORES CELESTES
        CLARO
#D6EAFF
#6CA9EA
#3E77BF
#114C82
#083E66
				OSCURO
*/

body{
	background-color:#D6EAFF;
}

/*---ENCABEZADO---*/
.header{
	background-color:#000000;
	padding: 0.5em;
}
.header h1{
	font-family:Sofia;
	font-size:5em;
	text-align:center;
	font-weight:bold; 
	color:#ffffff;
	background-color:#114C82;
	padding: 0.5em;
	margin: 0.5em;
}
#circulo {
  width: 150px;
  background: white;
  border-radius: 100px;
}
#circulo p{
	font-size: 3em;
	text-align: center;
	color: #3E77BF;
}


/*---CUERPO Y ARTICULOS---*/
.articulos{
	width: 80%;
	height: 20em;
	padding: 0.5em;
	margin:0.5em ;
}
.articulos article{
	display: block;
	background-color:#ffffff;
	border-radius: 3em;
	box-shadow: 1em 0.5em 1em #083E66;
	margin: 1em;
}
.articulos article a{
	text-decoration: none;
	color: black;
	font-size: 2em;
	font-weight: bold;
	margin-left:0.5em;
}
.articulos article a:hover{
	background-color: #6CA9EA;
}
.articulos label{
	display: block;
	font-size: 2em;
	font-weight: bold;
}
.articulos a img{
	display: block;
	width: 5em;
	height: 5em;
}

